{
  "info": {
    "title": "Tailorkit Platform API",
    "version": "0.0.0"
  },
  "servers": [
    {
      "url": "https://tailorkit.dev/api/platform"
    }
  ],
  "openapi": "3.1.1",
  "paths": {
    "/apps": {
      "get": {
        "operationId": "apps.list",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 9007199254740991,
              "default": 1
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "scope",
            "in": "query",
            "required": true,
            "schema": {
              "type": "object",
              "propertyNames": {
                "type": "string",
                "minLength": 1,
                "maxLength": 64
              },
              "additionalProperties": {
                "type": "string",
                "minLength": 1,
                "maxLength": 255
              }
            },
            "style": "deepObject",
            "explode": true,
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "publicId": {
                            "type": "string",
                            "maxLength": 12
                          },
                          "projectId": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "scope": {
                            "type": "object",
                            "propertyNames": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 64
                            },
                            "additionalProperties": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 255
                            }
                          },
                          "name": {
                            "type": "string",
                            "maxLength": 127
                          },
                          "description": {
                            "anyOf": [
                              {
                                "type": "string",
                                "maxLength": 255
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "currentDeploymentId": {
                            "anyOf": [
                              {
                                "type": "string",
                                "format": "uuid"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "x-native-type": "date"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "x-native-type": "date"
                          },
                          "currentDeployment": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "format": "uuid"
                                  },
                                  "publicId": {
                                    "type": "string",
                                    "maxLength": 12
                                  },
                                  "appId": {
                                    "type": "string",
                                    "format": "uuid"
                                  },
                                  "status": {
                                    "enum": ["uploading", "deploying", "verifying", "published"],
                                    "type": "string"
                                  },
                                  "clientEntryFileId": {
                                    "anyOf": [
                                      {
                                        "type": "string",
                                        "format": "uuid"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "logoLightFileId": {
                                    "anyOf": [
                                      {
                                        "type": "string",
                                        "format": "uuid"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "logoDarkFileId": {
                                    "anyOf": [
                                      {
                                        "type": "string",
                                        "format": "uuid"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "logoLightPath": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "logoDarkPath": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "createdAt": {
                                    "type": "string",
                                    "format": "date-time",
                                    "x-native-type": "date"
                                  },
                                  "updatedAt": {
                                    "type": "string",
                                    "format": "date-time",
                                    "x-native-type": "date"
                                  }
                                },
                                "required": [
                                  "id",
                                  "publicId",
                                  "appId",
                                  "status",
                                  "clientEntryFileId",
                                  "logoLightFileId",
                                  "logoDarkFileId",
                                  "logoLightPath",
                                  "logoDarkPath",
                                  "createdAt",
                                  "updatedAt"
                                ]
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "clientPath": {
                            "type": "string",
                            "format": "uri"
                          },
                          "logoPaths": {
                            "type": "object",
                            "properties": {
                              "dark": {
                                "type": "string",
                                "format": "uri"
                              },
                              "light": {
                                "type": "string",
                                "format": "uri"
                              }
                            }
                          }
                        },
                        "required": [
                          "id",
                          "publicId",
                          "projectId",
                          "scope",
                          "name",
                          "description",
                          "currentDeploymentId",
                          "createdAt",
                          "updatedAt",
                          "currentDeployment"
                        ]
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "hasMore": {
                          "type": "boolean"
                        },
                        "page": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 9007199254740991
                        },
                        "pageSize": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 100
                        }
                      },
                      "required": ["hasMore", "page", "pageSize"]
                    }
                  },
                  "required": ["items", "pagination"]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "apps.create",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 127
                  },
                  "description": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 255
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "scope": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 64
                    },
                    "additionalProperties": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 255
                    }
                  }
                },
                "required": ["name", "description", "scope"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "publicId": {
                      "type": "string",
                      "maxLength": 12
                    },
                    "projectId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "scope": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 64
                      },
                      "additionalProperties": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 255
                      }
                    },
                    "name": {
                      "type": "string",
                      "maxLength": 127
                    },
                    "description": {
                      "anyOf": [
                        {
                          "type": "string",
                          "maxLength": 255
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "currentDeploymentId": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "uuid"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "x-native-type": "date"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "x-native-type": "date"
                    },
                    "currentDeployment": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "publicId": {
                              "type": "string",
                              "maxLength": 12
                            },
                            "appId": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "status": {
                              "enum": ["uploading", "deploying", "verifying", "published"],
                              "type": "string"
                            },
                            "clientEntryFileId": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "format": "uuid"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "logoLightFileId": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "format": "uuid"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "logoDarkFileId": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "format": "uuid"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "logoLightPath": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "logoDarkPath": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "createdAt": {
                              "type": "string",
                              "format": "date-time",
                              "x-native-type": "date"
                            },
                            "updatedAt": {
                              "type": "string",
                              "format": "date-time",
                              "x-native-type": "date"
                            }
                          },
                          "required": [
                            "id",
                            "publicId",
                            "appId",
                            "status",
                            "clientEntryFileId",
                            "logoLightFileId",
                            "logoDarkFileId",
                            "logoLightPath",
                            "logoDarkPath",
                            "createdAt",
                            "updatedAt"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "clientPath": {
                      "type": "string",
                      "format": "uri"
                    },
                    "logoPaths": {
                      "type": "object",
                      "properties": {
                        "dark": {
                          "type": "string",
                          "format": "uri"
                        },
                        "light": {
                          "type": "string",
                          "format": "uri"
                        }
                      }
                    }
                  },
                  "required": [
                    "id",
                    "publicId",
                    "projectId",
                    "scope",
                    "name",
                    "description",
                    "currentDeploymentId",
                    "createdAt",
                    "updatedAt",
                    "currentDeployment"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/apps/{appId}": {
      "get": {
        "operationId": "apps.get",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope",
            "in": "query",
            "required": true,
            "schema": {
              "type": "object",
              "propertyNames": {
                "type": "string",
                "minLength": 1,
                "maxLength": 64
              },
              "additionalProperties": {
                "type": "string",
                "minLength": 1,
                "maxLength": 255
              }
            },
            "style": "deepObject",
            "explode": true,
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "publicId": {
                      "type": "string",
                      "maxLength": 12
                    },
                    "projectId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "scope": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 64
                      },
                      "additionalProperties": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 255
                      }
                    },
                    "name": {
                      "type": "string",
                      "maxLength": 127
                    },
                    "description": {
                      "anyOf": [
                        {
                          "type": "string",
                          "maxLength": 255
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "currentDeploymentId": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "uuid"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "x-native-type": "date"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "x-native-type": "date"
                    },
                    "currentDeployment": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "publicId": {
                              "type": "string",
                              "maxLength": 12
                            },
                            "appId": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "status": {
                              "enum": ["uploading", "deploying", "verifying", "published"],
                              "type": "string"
                            },
                            "clientEntryFileId": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "format": "uuid"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "logoLightFileId": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "format": "uuid"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "logoDarkFileId": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "format": "uuid"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "logoLightPath": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "logoDarkPath": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "createdAt": {
                              "type": "string",
                              "format": "date-time",
                              "x-native-type": "date"
                            },
                            "updatedAt": {
                              "type": "string",
                              "format": "date-time",
                              "x-native-type": "date"
                            }
                          },
                          "required": [
                            "id",
                            "publicId",
                            "appId",
                            "status",
                            "clientEntryFileId",
                            "logoLightFileId",
                            "logoDarkFileId",
                            "logoLightPath",
                            "logoDarkPath",
                            "createdAt",
                            "updatedAt"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "clientPath": {
                      "type": "string",
                      "format": "uri"
                    },
                    "logoPaths": {
                      "type": "object",
                      "properties": {
                        "dark": {
                          "type": "string",
                          "format": "uri"
                        },
                        "light": {
                          "type": "string",
                          "format": "uri"
                        }
                      }
                    }
                  },
                  "required": [
                    "id",
                    "publicId",
                    "projectId",
                    "scope",
                    "name",
                    "description",
                    "currentDeploymentId",
                    "createdAt",
                    "updatedAt",
                    "currentDeployment"
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "apps.delete",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope",
            "in": "query",
            "required": true,
            "schema": {
              "type": "object",
              "propertyNames": {
                "type": "string",
                "minLength": 1,
                "maxLength": 64
              },
              "additionalProperties": {
                "type": "string",
                "minLength": 1,
                "maxLength": 255
              }
            },
            "style": "deepObject",
            "explode": true,
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  "required": ["id"]
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "apps.update",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope",
            "in": "query",
            "required": true,
            "schema": {
              "type": "object",
              "propertyNames": {
                "type": "string",
                "minLength": 1,
                "maxLength": 64
              },
              "additionalProperties": {
                "type": "string",
                "minLength": 1,
                "maxLength": 255
              }
            },
            "style": "deepObject",
            "explode": true,
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 127
                  },
                  "description": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 255
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": ["name", "description"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "publicId": {
                      "type": "string",
                      "maxLength": 12
                    },
                    "projectId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "scope": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 64
                      },
                      "additionalProperties": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 255
                      }
                    },
                    "name": {
                      "type": "string",
                      "maxLength": 127
                    },
                    "description": {
                      "anyOf": [
                        {
                          "type": "string",
                          "maxLength": 255
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "currentDeploymentId": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "uuid"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "x-native-type": "date"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "x-native-type": "date"
                    },
                    "currentDeployment": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "publicId": {
                              "type": "string",
                              "maxLength": 12
                            },
                            "appId": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "status": {
                              "enum": ["uploading", "deploying", "verifying", "published"],
                              "type": "string"
                            },
                            "clientEntryFileId": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "format": "uuid"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "logoLightFileId": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "format": "uuid"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "logoDarkFileId": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "format": "uuid"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "logoLightPath": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "logoDarkPath": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "createdAt": {
                              "type": "string",
                              "format": "date-time",
                              "x-native-type": "date"
                            },
                            "updatedAt": {
                              "type": "string",
                              "format": "date-time",
                              "x-native-type": "date"
                            }
                          },
                          "required": [
                            "id",
                            "publicId",
                            "appId",
                            "status",
                            "clientEntryFileId",
                            "logoLightFileId",
                            "logoDarkFileId",
                            "logoLightPath",
                            "logoDarkPath",
                            "createdAt",
                            "updatedAt"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "clientPath": {
                      "type": "string",
                      "format": "uri"
                    },
                    "logoPaths": {
                      "type": "object",
                      "properties": {
                        "dark": {
                          "type": "string",
                          "format": "uri"
                        },
                        "light": {
                          "type": "string",
                          "format": "uri"
                        }
                      }
                    }
                  },
                  "required": [
                    "id",
                    "publicId",
                    "projectId",
                    "scope",
                    "name",
                    "description",
                    "currentDeploymentId",
                    "createdAt",
                    "updatedAt",
                    "currentDeployment"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/apps/{appId}/deploy": {
      "post": {
        "operationId": "apps.deploy",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope",
            "in": "query",
            "required": true,
            "schema": {
              "type": "object",
              "propertyNames": {
                "type": "string",
                "minLength": 1,
                "maxLength": 64
              },
              "additionalProperties": {
                "type": "string",
                "minLength": 1,
                "maxLength": 255
              }
            },
            "style": "deepObject",
            "explode": true,
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "deploymentId": {
                    "type": "string"
                  }
                },
                "required": ["deploymentId"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "publicId": {
                      "type": "string",
                      "maxLength": 12
                    },
                    "projectId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "scope": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 64
                      },
                      "additionalProperties": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 255
                      }
                    },
                    "name": {
                      "type": "string",
                      "maxLength": 127
                    },
                    "description": {
                      "anyOf": [
                        {
                          "type": "string",
                          "maxLength": 255
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "currentDeploymentId": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "uuid"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "x-native-type": "date"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "x-native-type": "date"
                    },
                    "currentDeployment": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "publicId": {
                              "type": "string",
                              "maxLength": 12
                            },
                            "appId": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "status": {
                              "enum": ["uploading", "deploying", "verifying", "published"],
                              "type": "string"
                            },
                            "clientEntryFileId": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "format": "uuid"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "logoLightFileId": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "format": "uuid"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "logoDarkFileId": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "format": "uuid"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "logoLightPath": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "logoDarkPath": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "createdAt": {
                              "type": "string",
                              "format": "date-time",
                              "x-native-type": "date"
                            },
                            "updatedAt": {
                              "type": "string",
                              "format": "date-time",
                              "x-native-type": "date"
                            }
                          },
                          "required": [
                            "id",
                            "publicId",
                            "appId",
                            "status",
                            "clientEntryFileId",
                            "logoLightFileId",
                            "logoDarkFileId",
                            "logoLightPath",
                            "logoDarkPath",
                            "createdAt",
                            "updatedAt"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "clientPath": {
                      "type": "string",
                      "format": "uri"
                    },
                    "logoPaths": {
                      "type": "object",
                      "properties": {
                        "dark": {
                          "type": "string",
                          "format": "uri"
                        },
                        "light": {
                          "type": "string",
                          "format": "uri"
                        }
                      }
                    }
                  },
                  "required": [
                    "id",
                    "publicId",
                    "projectId",
                    "scope",
                    "name",
                    "description",
                    "currentDeploymentId",
                    "createdAt",
                    "updatedAt",
                    "currentDeployment"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/cli-auth/approve": {
      "post": {
        "operationId": "cliAuth.approve",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "scope": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 64
                    },
                    "additionalProperties": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 255
                    }
                  },
                  "userCode": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": ["scope", "userCode"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  },
                  "required": ["id"]
                }
              }
            }
          }
        }
      }
    },
    "/cli-auth/deny": {
      "post": {
        "operationId": "cliAuth.deny",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userCode": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": ["userCode"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  },
                  "required": ["id"]
                }
              }
            }
          }
        }
      }
    },
    "/cli-auth/poll": {
      "post": {
        "operationId": "cliAuth.poll",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "deviceCode": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": ["deviceCode"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": "pending"
                        }
                      },
                      "required": ["status"]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": "denied"
                        }
                      },
                      "required": ["status"]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "deployToken": {
                          "type": "string"
                        },
                        "scope": {
                          "type": "object",
                          "propertyNames": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 64
                          },
                          "additionalProperties": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 255
                          }
                        },
                        "status": {
                          "const": "approved"
                        }
                      },
                      "required": ["deployToken", "scope", "status"]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": "expired"
                        }
                      },
                      "required": ["status"]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/cli-auth/start": {
      "post": {
        "operationId": "cliAuth.start",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deviceCode": {
                      "type": "string"
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time",
                      "x-native-type": "date"
                    },
                    "userCode": {
                      "type": "string"
                    }
                  },
                  "required": ["deviceCode", "expiresAt", "userCode"]
                }
              }
            }
          }
        }
      }
    },
    "/cli-auth/verify-token": {
      "post": {
        "operationId": "cliAuth.verifyToken",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "deployToken": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": ["deployToken"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "scope": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 64
                      },
                      "additionalProperties": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 255
                      }
                    }
                  },
                  "required": ["scope"]
                }
              }
            }
          }
        }
      }
    },
    "/deployments": {
      "get": {
        "operationId": "deployments.list",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 9007199254740991,
              "default": 1
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "appId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "scope",
            "in": "query",
            "required": true,
            "schema": {
              "type": "object",
              "propertyNames": {
                "type": "string",
                "minLength": 1,
                "maxLength": 64
              },
              "additionalProperties": {
                "type": "string",
                "minLength": 1,
                "maxLength": 255
              }
            },
            "style": "deepObject",
            "explode": true,
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "publicId": {
                            "type": "string",
                            "maxLength": 12
                          },
                          "appId": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "status": {
                            "enum": ["uploading", "deploying", "verifying", "published"],
                            "type": "string"
                          },
                          "clientEntryFileId": {
                            "anyOf": [
                              {
                                "type": "string",
                                "format": "uuid"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "logoLightFileId": {
                            "anyOf": [
                              {
                                "type": "string",
                                "format": "uuid"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "logoDarkFileId": {
                            "anyOf": [
                              {
                                "type": "string",
                                "format": "uuid"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "logoLightPath": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "logoDarkPath": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "x-native-type": "date"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "x-native-type": "date"
                          }
                        },
                        "required": [
                          "id",
                          "publicId",
                          "appId",
                          "status",
                          "clientEntryFileId",
                          "logoLightFileId",
                          "logoDarkFileId",
                          "logoLightPath",
                          "logoDarkPath",
                          "createdAt",
                          "updatedAt"
                        ]
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "hasMore": {
                          "type": "boolean"
                        },
                        "page": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 9007199254740991
                        },
                        "pageSize": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 100
                        }
                      },
                      "required": ["hasMore", "page", "pageSize"]
                    }
                  },
                  "required": ["items", "pagination"]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "deployments.create",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "appId": {
                    "type": "string"
                  },
                  "assets": {
                    "type": "array",
                    "prefixItems": [
                      {
                        "type": "object",
                        "properties": {
                          "checksum": {
                            "type": "string",
                            "pattern": "^[a-f0-9]{64}$"
                          },
                          "contentLength": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 9007199254740991
                          },
                          "contentType": {
                            "const": "application/javascript"
                          },
                          "encoding": {
                            "const": "utf-8"
                          },
                          "objectKey": {
                            "const": "client.js"
                          }
                        },
                        "required": [
                          "checksum",
                          "contentLength",
                          "contentType",
                          "encoding",
                          "objectKey"
                        ]
                      }
                    ]
                  },
                  "logos": {
                    "type": "object",
                    "properties": {
                      "dark": {
                        "type": "object",
                        "properties": {
                          "checksum": {
                            "type": "string",
                            "pattern": "^[a-f0-9]{64}$"
                          },
                          "contentLength": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 262144
                          },
                          "contentType": {
                            "enum": ["image/svg+xml", "image/png", "image/webp"],
                            "type": "string"
                          }
                        },
                        "required": ["checksum", "contentLength", "contentType"]
                      },
                      "light": {
                        "type": "object",
                        "properties": {
                          "checksum": {
                            "type": "string",
                            "pattern": "^[a-f0-9]{64}$"
                          },
                          "contentLength": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 262144
                          },
                          "contentType": {
                            "enum": ["image/svg+xml", "image/png", "image/webp"],
                            "type": "string"
                          }
                        },
                        "required": ["checksum", "contentLength", "contentType"]
                      }
                    }
                  },
                  "scope": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 64
                    },
                    "additionalProperties": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 255
                    }
                  }
                },
                "required": ["appId", "assets", "scope"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "assets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "file": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "appDeploymentId": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "objectKey": {
                                "type": "string",
                                "maxLength": 512,
                                "pattern": "^(?:[a-zA-Z0-9._-]+\\/)*[a-zA-Z0-9._-]+\\.[a-zA-Z0-9]+$"
                              },
                              "contentType": {
                                "enum": [
                                  "application/javascript",
                                  "image/svg+xml",
                                  "image/png",
                                  "image/webp"
                                ],
                                "type": "string"
                              },
                              "encoding": {
                                "anyOf": [
                                  {
                                    "enum": ["utf-8"],
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "contentLength": {
                                "type": "integer",
                                "minimum": -2147483648,
                                "maximum": 2147483647
                              },
                              "checksum": {
                                "anyOf": [
                                  {
                                    "type": "string",
                                    "maxLength": 64
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "status": {
                                "enum": ["uploading", "verifying", "verified", "failed"],
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time",
                                "x-native-type": "date"
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time",
                                "x-native-type": "date"
                              }
                            },
                            "required": [
                              "id",
                              "appDeploymentId",
                              "objectKey",
                              "contentType",
                              "encoding",
                              "contentLength",
                              "checksum",
                              "status",
                              "createdAt",
                              "updatedAt"
                            ]
                          },
                          "headers": {
                            "type": "object",
                            "propertyNames": {
                              "type": "string"
                            },
                            "additionalProperties": {
                              "type": "string"
                            }
                          },
                          "uploadUrl": {
                            "type": "string",
                            "format": "uri"
                          }
                        },
                        "required": ["file", "uploadUrl"]
                      }
                    },
                    "deployment": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "publicId": {
                          "type": "string",
                          "maxLength": 12
                        },
                        "appId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "enum": ["uploading", "deploying", "verifying", "published"],
                          "type": "string"
                        },
                        "clientEntryFileId": {
                          "anyOf": [
                            {
                              "type": "string",
                              "format": "uuid"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "logoLightFileId": {
                          "anyOf": [
                            {
                              "type": "string",
                              "format": "uuid"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "logoDarkFileId": {
                          "anyOf": [
                            {
                              "type": "string",
                              "format": "uuid"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "logoLightPath": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "logoDarkPath": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "x-native-type": "date"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time",
                          "x-native-type": "date"
                        }
                      },
                      "required": [
                        "id",
                        "publicId",
                        "appId",
                        "status",
                        "clientEntryFileId",
                        "logoLightFileId",
                        "logoDarkFileId",
                        "logoLightPath",
                        "logoDarkPath",
                        "createdAt",
                        "updatedAt"
                      ]
                    },
                    "logos": {
                      "type": "object",
                      "properties": {
                        "dark": {
                          "type": "object",
                          "properties": {
                            "file": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "format": "uuid"
                                },
                                "appDeploymentId": {
                                  "type": "string",
                                  "format": "uuid"
                                },
                                "objectKey": {
                                  "type": "string",
                                  "maxLength": 512,
                                  "pattern": "^(?:[a-zA-Z0-9._-]+\\/)*[a-zA-Z0-9._-]+\\.[a-zA-Z0-9]+$"
                                },
                                "contentType": {
                                  "enum": ["image/svg+xml", "image/png", "image/webp"],
                                  "type": "string"
                                },
                                "encoding": {
                                  "anyOf": [
                                    {
                                      "enum": ["utf-8"],
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "contentLength": {
                                  "type": "integer",
                                  "minimum": -2147483648,
                                  "maximum": 2147483647
                                },
                                "checksum": {
                                  "anyOf": [
                                    {
                                      "type": "string",
                                      "maxLength": 64
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "status": {
                                  "enum": ["uploading", "verifying", "verified", "failed"],
                                  "type": "string"
                                },
                                "createdAt": {
                                  "type": "string",
                                  "format": "date-time",
                                  "x-native-type": "date"
                                },
                                "updatedAt": {
                                  "type": "string",
                                  "format": "date-time",
                                  "x-native-type": "date"
                                }
                              },
                              "required": [
                                "id",
                                "appDeploymentId",
                                "objectKey",
                                "contentType",
                                "encoding",
                                "contentLength",
                                "checksum",
                                "status",
                                "createdAt",
                                "updatedAt"
                              ]
                            },
                            "headers": {
                              "type": "object",
                              "propertyNames": {
                                "type": "string"
                              },
                              "additionalProperties": {
                                "type": "string"
                              }
                            },
                            "uploadUrl": {
                              "type": "string",
                              "format": "uri"
                            }
                          },
                          "required": ["file"]
                        },
                        "light": {
                          "type": "object",
                          "properties": {
                            "file": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "format": "uuid"
                                },
                                "appDeploymentId": {
                                  "type": "string",
                                  "format": "uuid"
                                },
                                "objectKey": {
                                  "type": "string",
                                  "maxLength": 512,
                                  "pattern": "^(?:[a-zA-Z0-9._-]+\\/)*[a-zA-Z0-9._-]+\\.[a-zA-Z0-9]+$"
                                },
                                "contentType": {
                                  "enum": ["image/svg+xml", "image/png", "image/webp"],
                                  "type": "string"
                                },
                                "encoding": {
                                  "anyOf": [
                                    {
                                      "enum": ["utf-8"],
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "contentLength": {
                                  "type": "integer",
                                  "minimum": -2147483648,
                                  "maximum": 2147483647
                                },
                                "checksum": {
                                  "anyOf": [
                                    {
                                      "type": "string",
                                      "maxLength": 64
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "status": {
                                  "enum": ["uploading", "verifying", "verified", "failed"],
                                  "type": "string"
                                },
                                "createdAt": {
                                  "type": "string",
                                  "format": "date-time",
                                  "x-native-type": "date"
                                },
                                "updatedAt": {
                                  "type": "string",
                                  "format": "date-time",
                                  "x-native-type": "date"
                                }
                              },
                              "required": [
                                "id",
                                "appDeploymentId",
                                "objectKey",
                                "contentType",
                                "encoding",
                                "contentLength",
                                "checksum",
                                "status",
                                "createdAt",
                                "updatedAt"
                              ]
                            },
                            "headers": {
                              "type": "object",
                              "propertyNames": {
                                "type": "string"
                              },
                              "additionalProperties": {
                                "type": "string"
                              }
                            },
                            "uploadUrl": {
                              "type": "string",
                              "format": "uri"
                            }
                          },
                          "required": ["file"]
                        }
                      }
                    }
                  },
                  "required": ["assets", "deployment"]
                }
              }
            }
          }
        }
      }
    },
    "/deployments/{deploymentId}": {
      "get": {
        "operationId": "deployments.get",
        "parameters": [
          {
            "name": "deploymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope",
            "in": "query",
            "required": true,
            "schema": {
              "type": "object",
              "propertyNames": {
                "type": "string",
                "minLength": 1,
                "maxLength": 64
              },
              "additionalProperties": {
                "type": "string",
                "minLength": 1,
                "maxLength": 255
              }
            },
            "style": "deepObject",
            "explode": true,
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "publicId": {
                      "type": "string",
                      "maxLength": 12
                    },
                    "appId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "status": {
                      "enum": ["uploading", "deploying", "verifying", "published"],
                      "type": "string"
                    },
                    "clientEntryFileId": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "uuid"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "logoLightFileId": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "uuid"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "logoDarkFileId": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "uuid"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "logoLightPath": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "logoDarkPath": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "x-native-type": "date"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "x-native-type": "date"
                    }
                  },
                  "required": [
                    "id",
                    "publicId",
                    "appId",
                    "status",
                    "clientEntryFileId",
                    "logoLightFileId",
                    "logoDarkFileId",
                    "logoLightPath",
                    "logoDarkPath",
                    "createdAt",
                    "updatedAt"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "deployments.publish",
        "parameters": [
          {
            "name": "deploymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "scope": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 64
                    },
                    "additionalProperties": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 255
                    }
                  },
                  "rollout": {
                    "type": "boolean",
                    "default": true
                  }
                },
                "required": ["scope"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "publicId": {
                      "type": "string",
                      "maxLength": 12
                    },
                    "appId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "status": {
                      "enum": ["uploading", "deploying", "verifying", "published"],
                      "type": "string"
                    },
                    "clientEntryFileId": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "uuid"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "logoLightFileId": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "uuid"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "logoDarkFileId": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "uuid"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "logoLightPath": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "logoDarkPath": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "x-native-type": "date"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "x-native-type": "date"
                    }
                  },
                  "required": [
                    "id",
                    "publicId",
                    "appId",
                    "status",
                    "clientEntryFileId",
                    "logoLightFileId",
                    "logoDarkFileId",
                    "logoLightPath",
                    "logoDarkPath",
                    "createdAt",
                    "updatedAt"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/preview/start": {
      "post": {
        "operationId": "preview.start",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "appId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "deployToken": {
                    "type": "string",
                    "minLength": 1
                  },
                  "replaceActive": {
                    "type": "boolean"
                  }
                },
                "required": ["appId", "deployToken"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time",
                      "x-native-type": "date"
                    },
                    "sessionId": {
                      "type": "string"
                    },
                    "tunnelToken": {
                      "type": "string"
                    },
                    "tunnelUrl": {
                      "type": "string",
                      "format": "uri"
                    },
                    "shareId": {
                      "type": "string"
                    }
                  },
                  "required": ["expiresAt", "sessionId", "tunnelToken", "tunnelUrl", "shareId"]
                }
              }
            }
          }
        }
      }
    },
    "/preview/{sessionId}/stop": {
      "post": {
        "operationId": "preview.stop",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "deployToken": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": ["deployToken"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/preview/shares/{shareId}": {
      "get": {
        "operationId": "preview.invitation",
        "parameters": [
          {
            "name": "shareId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{43}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "appName": {
                      "type": "string"
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time",
                      "x-native-type": "date"
                    },
                    "sessionId": {
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  "required": ["appName", "expiresAt", "sessionId"]
                }
              }
            }
          }
        }
      }
    },
    "/preview/shares/{shareId}/accept": {
      "post": {
        "operationId": "preview.accept",
        "parameters": [
          {
            "name": "shareId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{43}$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "scope": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 64
                    },
                    "additionalProperties": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 255
                    }
                  }
                },
                "required": ["scope"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "grantId": {
                      "type": "string",
                      "pattern": "^[A-Za-z0-9_-]{43}$"
                    },
                    "sessionId": {
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  "required": ["grantId", "sessionId"]
                }
              }
            }
          }
        }
      }
    },
    "/preview/grants/resolve": {
      "post": {
        "operationId": "preview.accepted",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "grantIds": {
                    "type": "array",
                    "maxItems": 20,
                    "items": {
                      "type": "string",
                      "pattern": "^[A-Za-z0-9_-]{43}$"
                    }
                  },
                  "scope": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 64
                    },
                    "additionalProperties": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 255
                    }
                  }
                },
                "required": ["grantIds", "scope"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
[...]
