{
  "info": {
    "title": "Tailorkit Platform API",
    "version": "0.0.0"
  },
  "servers": [
    {
      "url": "https://tailorkit.dev/api/platform"
    }
  ],
  "openapi": "3.2.0",
  "paths": {
    "/app-agent/chat": {
      "post": {
        "operationId": "appAgent.chat",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "appId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "messages": {
                    "minItems": 1,
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "minLength": 1
                        },
                        "role": {
                          "type": "string",
                          "enum": ["user", "assistant"]
                        },
                        "parts": {
                          "minItems": 1,
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string"
                              }
                            },
                            "required": ["type"],
                            "additionalProperties": {}
                          }
                        },
                        "metadata": {}
                      },
                      "required": ["id", "role", "parts"]
                    }
                  },
                  "deployToken": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": ["appId", "messages", "deployToken"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/event-stream": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "event": {
                          "const": "message"
                        },
                        "data": {
                          "description": "An AI SDK UIMessageChunk. Fields depend on the chunk type."
                        },
                        "id": {
                          "type": "string"
                        },
                        "retry": {
                          "type": "number"
                        }
                      },
                      "required": ["event", "data"]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "event": {
                          "const": "close"
                        },
                        "data": {},
                        "id": {
                          "type": "string"
                        },
                        "retry": {
                          "type": "number"
                        }
                      },
                      "required": ["event"]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "event": {
                          "const": "error"
                        },
                        "data": {},
                        "id": {
                          "type": "string"
                        },
                        "retry": {
                          "type": "number"
                        }
                      },
                      "required": ["event"]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/apps/{appId}/runtime/session": {
      "post": {
        "operationId": "apps.runtimeSession",
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "appId",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 256
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "scopes": {
                    "minItems": 1,
                    "maxItems": 32,
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "pattern": "^[A-Za-z][A-Za-z0-9_-]{0,63}$"
                        },
                        "value": {
                          "type": "object",
                          "propertyNames": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 64
                          },
                          "additionalProperties": {
                            "$ref": "#/components/schemas/__schema0"
                          }
                        }
                      },
                      "required": ["name", "value"],
                      "additionalProperties": false
                    }
                  }
                },
                "required": ["scopes"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string"
                    },
                    "expiresAt": {
                      "type": "number"
                    },
                    "url": {
                      "type": "string",
                      "format": "uri"
                    }
                  },
                  "required": ["token", "expiresAt", "url"],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/apps/list": {
      "post": {
        "operationId": "apps.list",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "page": {
                    "default": 1,
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 9007199254740991
                  },
                  "pageSize": {
                    "default": 20,
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100
                  },
                  "scopes": {
                    "minItems": 1,
                    "maxItems": 32,
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "pattern": "^[A-Za-z][A-Za-z0-9_-]{0,63}$"
                        },
                        "value": {
                          "type": "object",
                          "propertyNames": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 64
                          },
                          "additionalProperties": {
                            "$ref": "#/components/schemas/__schema0"
                          }
                        }
                      },
                      "required": ["name", "value"],
                      "additionalProperties": false
                    }
                  }
                },
                "required": ["scopes"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                          },
                          "publicId": {
                            "type": "string",
                            "maxLength": 12
                          },
                          "projectId": {
                            "type": "string",
                            "format": "uuid",
                            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                          },
                          "scope": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "pattern": "^[A-Za-z][A-Za-z0-9_-]{0,63}$"
                              },
                              "value": {
                                "type": "object",
                                "propertyNames": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 64
                                },
                                "additionalProperties": {
                                  "$ref": "#/components/schemas/__schema0"
                                }
                              }
                            },
                            "required": ["name", "value"],
                            "additionalProperties": false
                          },
                          "name": {
                            "type": "string",
                            "maxLength": 127
                          },
                          "description": {
                            "anyOf": [
                              {
                                "type": "string",
                                "maxLength": 255
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "currentDeploymentId": {
                            "anyOf": [
                              {
                                "type": "string",
                                "format": "uuid",
                                "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "x-native-type": "date"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "x-native-type": "date"
                          },
                          "currentDeployment": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "format": "uuid",
                                    "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                                  },
                                  "publicId": {
                                    "type": "string",
                                    "maxLength": 12
                                  },
                                  "appId": {
                                    "type": "string",
                                    "format": "uuid",
                                    "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                                  },
                                  "status": {
                                    "type": "string",
                                    "enum": ["uploading", "deploying", "verifying", "published"]
                                  },
                                  "clientEntryFileId": {
                                    "anyOf": [
                                      {
                                        "type": "string",
                                        "format": "uuid",
                                        "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "logoLightFileId": {
                                    "anyOf": [
                                      {
                                        "type": "string",
                                        "format": "uuid",
                                        "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "logoDarkFileId": {
                                    "anyOf": [
                                      {
                                        "type": "string",
                                        "format": "uuid",
                                        "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "logoLightPath": {
                                    "type": ["string", "null"]
                                  },
                                  "logoDarkPath": {
                                    "type": ["string", "null"]
                                  },
                                  "createdAt": {
                                    "type": "string",
                                    "format": "date-time",
                                    "x-native-type": "date"
                                  },
                                  "updatedAt": {
                                    "type": "string",
                                    "format": "date-time",
                                    "x-native-type": "date"
                                  }
                                },
                                "required": [
                                  "id",
                                  "publicId",
                                  "appId",
                                  "status",
                                  "clientEntryFileId",
                                  "logoLightFileId",
                                  "logoDarkFileId",
                                  "logoLightPath",
                                  "logoDarkPath",
                                  "createdAt",
                                  "updatedAt"
                                ],
                                "additionalProperties": false
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "clientPath": {
                            "type": "string",
                            "format": "uri"
                          },
                          "logoPaths": {
                            "type": "object",
                            "properties": {
                              "dark": {
                                "type": "string",
                                "format": "uri"
                              },
                              "light": {
                                "type": "string",
                                "format": "uri"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "required": [
                          "id",
                          "publicId",
                          "projectId",
                          "scope",
                          "name",
                          "description",
                          "currentDeploymentId",
                          "createdAt",
                          "updatedAt",
                          "currentDeployment"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "hasMore": {
                          "type": "boolean"
                        },
                        "page": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 9007199254740991
                        },
                        "pageSize": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 100
                        }
                      },
                      "required": ["hasMore", "page", "pageSize"],
                      "additionalProperties": false
                    }
                  },
                  "required": ["items", "pagination"],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/apps/{appId}/lookup": {
      "post": {
        "operationId": "apps.get",
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "appId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "scopes": {
                    "minItems": 1,
                    "maxItems": 32,
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "pattern": "^[A-Za-z][A-Za-z0-9_-]{0,63}$"
                        },
                        "value": {
                          "type": "object",
                          "propertyNames": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 64
                          },
                          "additionalProperties": {
                            "$ref": "#/components/schemas/__schema0"
                          }
                        }
                      },
                      "required": ["name", "value"],
                      "additionalProperties": false
                    }
                  }
                },
                "required": ["scopes"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                    },
                    "publicId": {
                      "type": "string",
                      "maxLength": 12
                    },
                    "projectId": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                    },
                    "scope": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "pattern": "^[A-Za-z][A-Za-z0-9_-]{0,63}$"
                        },
                        "value": {
                          "type": "object",
                          "propertyNames": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 64
                          },
                          "additionalProperties": {
                            "$ref": "#/components/schemas/__schema0"
                          }
                        }
                      },
                      "required": ["name", "value"],
                      "additionalProperties": false
                    },
                    "name": {
                      "type": "string",
                      "maxLength": 127
                    },
                    "description": {
                      "anyOf": [
                        {
                          "type": "string",
                          "maxLength": 255
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "currentDeploymentId": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "x-native-type": "date"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "x-native-type": "date"
                    },
                    "currentDeployment": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid",
                              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                            },
                            "publicId": {
                              "type": "string",
                              "maxLength": 12
                            },
                            "appId": {
                              "type": "string",
                              "format": "uuid",
                              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                            },
                            "status": {
                              "type": "string",
                              "enum": ["uploading", "deploying", "verifying", "published"]
                            },
                            "clientEntryFileId": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "format": "uuid",
                                  "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "logoLightFileId": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "format": "uuid",
                                  "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "logoDarkFileId": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "format": "uuid",
                                  "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "logoLightPath": {
                              "type": ["string", "null"]
                            },
                            "logoDarkPath": {
                              "type": ["string", "null"]
                            },
                            "createdAt": {
                              "type": "string",
                              "format": "date-time",
                              "x-native-type": "date"
                            },
                            "updatedAt": {
                              "type": "string",
                              "format": "date-time",
                              "x-native-type": "date"
                            }
                          },
                          "required": [
                            "id",
                            "publicId",
                            "appId",
                            "status",
                            "clientEntryFileId",
                            "logoLightFileId",
                            "logoDarkFileId",
                            "logoLightPath",
                            "logoDarkPath",
                            "createdAt",
                            "updatedAt"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "clientPath": {
                      "type": "string",
                      "format": "uri"
                    },
                    "logoPaths": {
                      "type": "object",
                      "properties": {
                        "dark": {
                          "type": "string",
                          "format": "uri"
                        },
                        "light": {
                          "type": "string",
                          "format": "uri"
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "id",
                    "publicId",
                    "projectId",
                    "scope",
                    "name",
                    "description",
                    "currentDeploymentId",
                    "createdAt",
                    "updatedAt",
                    "currentDeployment"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/apps": {
      "post": {
        "operationId": "apps.create",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 127
                  },
                  "description": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 255
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "scope": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "pattern": "^[A-Za-z][A-Za-z0-9_-]{0,63}$"
                      },
                      "value": {
                        "type": "object",
                        "propertyNames": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 64
                        },
                        "additionalProperties": {
                          "$ref": "#/components/schemas/__schema0"
                        }
                      }
                    },
                    "required": ["name", "value"],
                    "additionalProperties": false
                  }
                },
                "required": ["name", "description", "scope"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                    },
                    "publicId": {
                      "type": "string",
                      "maxLength": 12
                    },
                    "projectId": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                    },
                    "scope": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "pattern": "^[A-Za-z][A-Za-z0-9_-]{0,63}$"
                        },
                        "value": {
                          "type": "object",
                          "propertyNames": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 64
                          },
                          "additionalProperties": {
                            "$ref": "#/components/schemas/__schema0"
                          }
                        }
                      },
                      "required": ["name", "value"],
                      "additionalProperties": false
                    },
                    "name": {
                      "type": "string",
                      "maxLength": 127
                    },
                    "description": {
                      "anyOf": [
                        {
                          "type": "string",
                          "maxLength": 255
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "currentDeploymentId": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "x-native-type": "date"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "x-native-type": "date"
                    },
                    "currentDeployment": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid",
                              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                            },
                            "publicId": {
                              "type": "string",
                              "maxLength": 12
                            },
                            "appId": {
                              "type": "string",
                              "format": "uuid",
                              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                            },
                            "status": {
                              "type": "string",
                              "enum": ["uploading", "deploying", "verifying", "published"]
                            },
                            "clientEntryFileId": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "format": "uuid",
                                  "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "logoLightFileId": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "format": "uuid",
                                  "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "logoDarkFileId": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "format": "uuid",
                                  "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "logoLightPath": {
                              "type": ["string", "null"]
                            },
                            "logoDarkPath": {
                              "type": ["string", "null"]
                            },
                            "createdAt": {
                              "type": "string",
                              "format": "date-time",
                              "x-native-type": "date"
                            },
                            "updatedAt": {
                              "type": "string",
                              "format": "date-time",
                              "x-native-type": "date"
                            }
                          },
                          "required": [
                            "id",
                            "publicId",
                            "appId",
                            "status",
                            "clientEntryFileId",
                            "logoLightFileId",
                            "logoDarkFileId",
                            "logoLightPath",
                            "logoDarkPath",
                            "createdAt",
                            "updatedAt"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "clientPath": {
                      "type": "string",
                      "format": "uri"
                    },
                    "logoPaths": {
                      "type": "object",
                      "properties": {
                        "dark": {
                          "type": "string",
                          "format": "uri"
                        },
                        "light": {
                          "type": "string",
                          "format": "uri"
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "id",
                    "publicId",
                    "projectId",
                    "scope",
                    "name",
                    "description",
                    "currentDeploymentId",
                    "createdAt",
                    "updatedAt",
                    "currentDeployment"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/apps/{appId}": {
      "delete": {
        "operationId": "apps.delete",
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "appId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "scope": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "pattern": "^[A-Za-z][A-Za-z0-9_-]{0,63}$"
                      },
                      "value": {
                        "type": "object",
                        "propertyNames": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 64
                        },
                        "additionalProperties": {
                          "$ref": "#/components/schemas/__schema0"
                        }
                      }
                    },
                    "required": ["name", "value"],
                    "additionalProperties": false
                  }
                },
                "required": ["scope"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-7[0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12})$"
                    }
                  },
                  "required": ["id"],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "apps.update",
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "appId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 127
                  },
                  "description": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 255
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "scope": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "pattern": "^[A-Za-z][A-Za-z0-9_-]{0,63}$"
                      },
                      "value": {
                        "type": "object",
                        "propertyNames": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 64
                        },
                        "additionalProperties": {
                          "$ref": "#/components/schemas/__schema0"
                        }
                      }
                    },
                    "required": ["name", "value"],
                    "additionalProperties": false
                  }
                },
                "required": ["name", "description", "scope"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                    },
                    "publicId": {
                      "type": "string",
                      "maxLength": 12
                    },
                    "projectId": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                    },
                    "scope": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "pattern": "^[A-Za-z][A-Za-z0-9_-]{0,63}$"
                        },
                        "value": {
                          "type": "object",
                          "propertyNames": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 64
                          },
                          "additionalProperties": {
                            "$ref": "#/components/schemas/__schema0"
                          }
                        }
                      },
                      "required": ["name", "value"],
                      "additionalProperties": false
                    },
                    "name": {
                      "type": "string",
                      "maxLength": 127
                    },
                    "description": {
                      "anyOf": [
                        {
                          "type": "string",
                          "maxLength": 255
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "currentDeploymentId": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "x-native-type": "date"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "x-native-type": "date"
                    },
                    "currentDeployment": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid",
                              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                            },
                            "publicId": {
                              "type": "string",
                              "maxLength": 12
                            },
                            "appId": {
                              "type": "string",
                              "format": "uuid",
                              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                            },
                            "status": {
                              "type": "string",
                              "enum": ["uploading", "deploying", "verifying", "published"]
                            },
                            "clientEntryFileId": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "format": "uuid",
                                  "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "logoLightFileId": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "format": "uuid",
                                  "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "logoDarkFileId": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "format": "uuid",
                                  "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "logoLightPath": {
                              "type": ["string", "null"]
                            },
                            "logoDarkPath": {
                              "type": ["string", "null"]
                            },
                            "createdAt": {
                              "type": "string",
                              "format": "date-time",
                              "x-native-type": "date"
                            },
                            "updatedAt": {
                              "type": "string",
                              "format": "date-time",
                              "x-native-type": "date"
                            }
                          },
                          "required": [
                            "id",
                            "publicId",
                            "appId",
                            "status",
                            "clientEntryFileId",
                            "logoLightFileId",
                            "logoDarkFileId",
                            "logoLightPath",
                            "logoDarkPath",
                            "createdAt",
                            "updatedAt"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "clientPath": {
                      "type": "string",
                      "format": "uri"
                    },
                    "logoPaths": {
                      "type": "object",
                      "properties": {
                        "dark": {
                          "type": "string",
                          "format": "uri"
                        },
                        "light": {
                          "type": "string",
                          "format": "uri"
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "id",
                    "publicId",
                    "projectId",
                    "scope",
                    "name",
                    "description",
                    "currentDeploymentId",
                    "createdAt",
                    "updatedAt",
                    "currentDeployment"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/apps/{appId}/deploy": {
      "post": {
        "operationId": "apps.deploy",
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "appId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "deploymentId": {
                    "type": "string"
                  },
                  "scope": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "pattern": "^[A-Za-z][A-Za-z0-9_-]{0,63}$"
                      },
                      "value": {
                        "type": "object",
                        "propertyNames": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 64
                        },
                        "additionalProperties": {
                          "$ref": "#/components/schemas/__schema0"
                        }
                      }
                    },
                    "required": ["name", "value"],
                    "additionalProperties": false
                  }
                },
                "required": ["deploymentId", "scope"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                    },
                    "publicId": {
                      "type": "string",
                      "maxLength": 12
                    },
                    "projectId": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                    },
                    "scope": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "pattern": "^[A-Za-z][A-Za-z0-9_-]{0,63}$"
                        },
                        "value": {
                          "type": "object",
                          "propertyNames": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 64
                          },
                          "additionalProperties": {
                            "$ref": "#/components/schemas/__schema0"
                          }
                        }
                      },
                      "required": ["name", "value"],
                      "additionalProperties": false
                    },
                    "name": {
                      "type": "string",
                      "maxLength": 127
                    },
                    "description": {
                      "anyOf": [
                        {
                          "type": "string",
                          "maxLength": 255
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "currentDeploymentId": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "x-native-type": "date"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "x-native-type": "date"
                    },
                    "currentDeployment": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid",
                              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                            },
                            "publicId": {
                              "type": "string",
                              "maxLength": 12
                            },
                            "appId": {
                              "type": "string",
                              "format": "uuid",
                              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                            },
                            "status": {
                              "type": "string",
                              "enum": ["uploading", "deploying", "verifying", "published"]
                            },
                            "clientEntryFileId": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "format": "uuid",
                                  "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "logoLightFileId": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "format": "uuid",
                                  "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "logoDarkFileId": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "format": "uuid",
                                  "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "logoLightPath": {
                              "type": ["string", "null"]
                            },
                            "logoDarkPath": {
                              "type": ["string", "null"]
                            },
                            "createdAt": {
                              "type": "string",
                              "format": "date-time",
                              "x-native-type": "date"
                            },
                            "updatedAt": {
                              "type": "string",
                              "format": "date-time",
                              "x-native-type": "date"
                            }
                          },
                          "required": [
                            "id",
                            "publicId",
                            "appId",
                            "status",
                            "clientEntryFileId",
                            "logoLightFileId",
                            "logoDarkFileId",
                            "logoLightPath",
                            "logoDarkPath",
                            "createdAt",
                            "updatedAt"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "clientPath": {
                      "type": "string",
                      "format": "uri"
                    },
                    "logoPaths": {
                      "type": "object",
                      "properties": {
                        "dark": {
                          "type": "string",
                          "format": "uri"
                        },
                        "light": {
                          "type": "string",
                          "format": "uri"
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "id",
                    "publicId",
                    "projectId",
                    "scope",
                    "name",
                    "description",
                    "currentDeploymentId",
                    "createdAt",
                    "updatedAt",
                    "currentDeployment"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/cli-auth/approve": {
      "post": {
        "operationId": "cliAuth.approve",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "scope": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "pattern": "^[A-Za-z][A-Za-z0-9_-]{0,63}$"
                      },
                      "value": {
                        "type": "object",
                        "propertyNames": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 64
                        },
                        "additionalProperties": {
                          "$ref": "#/components/schemas/__schema0"
                        }
                      }
                    },
                    "required": ["name", "value"],
                    "additionalProperties": false
                  },
                  "userCode": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": ["scope", "userCode"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  },
                  "required": ["id"],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/cli-auth/deny": {
      "post": {
        "operationId": "cliAuth.deny",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userCode": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": ["userCode"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  },
                  "required": ["id"],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/cli-auth/poll": {
      "post": {
        "operationId": "cliAuth.poll",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "deviceCode": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": ["deviceCode"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "const": "pending"
                        }
                      },
                      "required": ["status"],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "const": "denied"
                        }
                      },
                      "required": ["status"],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "deployToken": {
                          "type": "string"
                        },
                        "scope": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "pattern": "^[A-Za-z][A-Za-z0-9_-]{0,63}$"
                            },
                            "value": {
                              "type": "object",
                              "propertyNames": {
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 64
                              },
                              "additionalProperties": {
                                "$ref": "#/components/schemas/__schema0"
                              }
                            }
                          },
                          "required": ["name", "value"],
                          "additionalProperties": false
                        },
                        "status": {
                          "type": "string",
                          "const": "approved"
                        }
                      },
                      "required": ["deployToken", "scope", "status"],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "const": "expired"
                        }
                      },
                      "required": ["status"],
                      "additionalProperties": false
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/cli-auth/start": {
      "post": {
        "operationId": "cliAuth.start",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deviceCode": {
                      "type": "string"
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time",
                      "x-native-type": "date"
                    },
                    "userCode": {
                      "type": "string"
                    }
                  },
                  "required": ["deviceCode", "expiresAt", "userCode"],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/cli-auth/verify-token": {
      "post": {
        "operationId": "cliAuth.verifyToken",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "deployToken": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": ["deployToken"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "scope": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "pattern": "^[A-Za-z][A-Za-z0-9_-]{0,63}$"
                        },
                        "value": {
                          "type": "object",
                          "propertyNames": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 64
                          },
                          "additionalProperties": {
                            "$ref": "#/components/schemas/__schema0"
                          }
                        }
                      },
                      "required": ["name", "value"],
                      "additionalProperties": false
                    }
                  },
                  "required": ["scope"],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/deployments/list": {
      "post": {
        "operationId": "deployments.list",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "page": {
                    "default": 1,
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 9007199254740991
                  },
                  "pageSize": {
                    "default": 20,
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100
                  },
                  "appId": {
                    "type": "string"
                  },
                  "scopes": {
                    "minItems": 1,
                    "maxItems": 32,
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "pattern": "^[A-Za-z][A-Za-z0-9_-]{0,63}$"
                        },
                        "value": {
                          "type": "object",
                          "propertyNames": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 64
                          },
                          "additionalProperties": {
                            "$ref": "#/components/schemas/__schema0"
                          }
                        }
                      },
                      "required": ["name", "value"],
                      "additionalProperties": false
                    }
                  }
                },
                "required": ["appId", "scopes"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                          },
                          "publicId": {
                            "type": "string",
                            "maxLength": 12
                          },
                          "appId": {
                            "type": "string",
                            "format": "uuid",
                            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                          },
                          "status": {
                            "type": "string",
                            "enum": ["uploading", "deploying", "verifying", "published"]
                          },
                          "clientEntryFileId": {
                            "anyOf": [
                              {
                                "type": "string",
                                "format": "uuid",
                                "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "logoLightFileId": {
                            "anyOf": [
                              {
                                "type": "string",
                                "format": "uuid",
                                "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "logoDarkFileId": {
                            "anyOf": [
                              {
                                "type": "string",
                                "format": "uuid",
                                "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "logoLightPath": {
                            "type": ["string", "null"]
                          },
                          "logoDarkPath": {
                            "type": ["string", "null"]
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "x-native-type": "date"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "x-native-type": "date"
                          }
                        },
                        "required": [
                          "id",
                          "publicId",
                          "appId",
                          "status",
                          "clientEntryFileId",
                          "logoLightFileId",
                          "logoDarkFileId",
                          "logoLightPath",
                          "logoDarkPath",
                          "createdAt",
                          "updatedAt"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "hasMore": {
                          "type": "boolean"
                        },
                        "page": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 9007199254740991
                        },
                        "pageSize": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 100
                        }
                      },
                      "required": ["hasMore", "page", "pageSize"],
                      "additionalProperties": false
                    }
                  },
                  "required": ["items", "pagination"],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/deployments/{deploymentId}/lookup": {
      "post": {
        "operationId": "deployments.get",
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "deploymentId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "scopes": {
                    "minItems": 1,
                    "maxItems": 32,
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "pattern": "^[A-Za-z][A-Za-z0-9_-]{0,63}$"
                        },
                        "value": {
                          "type": "object",
                          "propertyNames": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 64
                          },
                          "additionalProperties": {
                            "$ref": "#/components/schemas/__schema0"
                          }
                        }
                      },
                      "required": ["name", "value"],
                      "additionalProperties": false
                    }
                  }
                },
                "required": ["scopes"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                    },
                    "publicId": {
                      "type": "string",
                      "maxLength": 12
                    },
                    "appId": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                    },
                    "status": {
                      "type": "string",
                      "enum": ["uploading", "deploying", "verifying", "published"]
                    },
                    "clientEntryFileId": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "logoLightFileId": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "logoDarkFileId": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "logoLightPath": {
                      "type": ["string", "null"]
                    },
                    "logoDarkPath": {
                      "type": ["string", "null"]
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "x-native-type": "date"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "x-native-type": "date"
                    }
                  },
                  "required": [
                    "id",
                    "publicId",
                    "appId",
                    "status",
                    "clientEntryFileId",
                    "logoLightFileId",
                    "logoDarkFileId",
                    "logoLightPath",
                    "logoDarkPath",
                    "createdAt",
                    "updatedAt"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/deployments": {
      "post": {
        "operationId": "deployments.create",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "appId": {
                    "type": "string"
                  },
                  "assets": {
                    "type": "array",
                    "prefixItems": [
                      {
                        "type": "object",
                        "properties": {
                          "checksum": {
                            "type": "string",
                            "pattern": "^[a-f0-9]{64}$"
                          },
                          "contentLength": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 9007199254740991
                          },
                          "contentType": {
                            "type": "string",
                            "const": "application/javascript"
                          },
                          "encoding": {
                            "type": "string",
                            "const": "utf-8"
                          },
                          "objectKey": {
                            "type": "string",
                            "const": "client.js"
                          }
                        },
                        "required": [
                          "checksum",
                          "contentLength",
                          "contentType",
                          "encoding",
                          "objectKey"
                        ]
                      }
                    ],
                    "items": false,
                    "minItems": 1,
                    "maxItems": 1
                  },
                  "server": {
                    "type": "object",
                    "properties": {
                      "checksum": {
                        "type": "string",
                        "pattern": "^[a-f0-9]{64}$"
                      },
                      "contentLength": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 1048576
                      },
                      "contentType": {
                        "type": "string",
                        "const": "application/javascript"
                      },
                      "encoding": {
                        "type": "string",
                        "const": "utf-8"
                      },
                      "objectKey": {
                        "type": "string",
                        "const": "server.js"
                      }
                    },
                    "required": [
                      "checksum",
                      "contentLength",
                      "contentType",
                      "encoding",
                      "objectKey"
                    ]
                  },
                  "logos": {
                    "type": "object",
                    "properties": {
                      "dark": {
                        "type": "object",
                        "properties": {
                          "checksum": {
                            "type": "string",
                            "pattern": "^[a-f0-9]{64}$"
                          },
                          "contentLength": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 262144
                          },
                          "contentType": {
                            "type": "string",
                            "enum": ["image/svg+xml", "image/png", "image/webp"]
                          }
                        },
                        "required": ["checksum", "contentLength", "contentType"]
                      },
                      "light": {
                        "type": "object",
                        "properties": {
                          "checksum": {
                            "type": "string",
                            "pattern": "^[a-f0-9]{64}$"
                          },
                          "contentLength": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 262144
                          },
                          "contentType": {
                            "type": "string",
                            "enum": ["image/svg+xml", "image/png", "image/webp"]
                          }
                        },
                        "required": ["checksum", "contentLength", "contentType"]
                      }
                    }
                  },
                  "scope": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "pattern": "^[A-Za-z][A-Za-z0-9_-]{0,63}$"
                      },
                      "value": {
                        "type": "object",
                        "propertyNames": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 64
                        },
                        "additionalProperties": {
                          "$ref": "#/components/schemas/__schema0"
                        }
                      }
                    },
                    "required": ["name", "value"],
                    "additionalProperties": false
                  }
                },
                "required": ["appId", "assets", "scope"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "assets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "file": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid",
                                "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                              },
                              "appDeploymentId": {
                                "type": "string",
                                "format": "uuid",
                                "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                              },
                              "objectKey": {
                                "type": "string",
                                "maxLength": 512,
                                "pattern": "^(?:[a-zA-Z0-9._-]+\\/)*[a-zA-Z0-9._-]+\\.[a-zA-Z0-9]+$"
                              },
                              "contentType": {
                                "type": "string",
                                "enum": [
                                  "application/javascript",
                                  "image/svg+xml",
                                  "image/png",
                                  "image/webp"
                                ]
                              },
                              "encoding": {
                                "anyOf": [
                                  {
                                    "type": "string",
                                    "enum": ["utf-8"]
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "contentLength": {
                                "type": "integer",
                                "minimum": -2147483648,
                                "maximum": 2147483647
                              },
                              "checksum": {
                                "anyOf": [
                                  {
                                    "type": "string",
                                    "maxLength": 64
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "status": {
                                "type": "string",
                                "enum": ["uploading", "verifying", "verified", "failed"]
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time",
                                "x-native-type": "date"
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time",
                                "x-native-type": "date"
                              }
                            },
                            "required": [
                              "id",
                              "appDeploymentId",
                              "objectKey",
                              "contentType",
                              "encoding",
                              "contentLength",
                              "checksum",
                              "status",
                              "createdAt",
                              "updatedAt"
                            ],
                            "additionalProperties": false
                          },
                          "headers": {
                            "type": "object",
[...]
